<h2 id="title">Welcome to The Palace Museum</h2>


<div class="container">
<header class="headerClass">
  <h1 class="logo">

    {{#link-to "index" class="homepageLinkClass"}}
      The Palace Museum - imperial collections in the Forbidden City
    {{/link-to}}
  </h1>
  
</header>



</div>


{{outlet}}
