<section id="home" class="pageClass clearfix">
  <h2 class="hpHeader">Ni Hao. Welcome to The Palace Museum</h2>
  <div class="hd">
    <img src="images/hp1.jpg" class = "homeImageSize"/>
  </div>
  <div class="hd hm">
    Established in 1925, the Palace Museum is located in the imperial palace of the consecutive Ming (1368-1644) and Qing (1644-1911) dynasties. The magnificent architectural complex, also known as the Forbidden City, and the vast holdings of paintings, calligraphy, ceramics, and antiquities of the imperial collections make it one of the most prestigious museums in China and the world.
      <br><br>
      {{#link-to "about"}}<strong>know more &raquo;</strong>{{/link-to}}
  </div>
</section>

{{outlet}}
